.header{
    background-color: #1E90FF;
    display: block;
}
.header a{
    color:white;
    font-size: 32px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 0 0 -5px;
    text-decoration: none;
}
.header a:hover {
    color: #383838; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}
.header ul {
    float:right;
}
.right{
    float:right;
}
.header ul li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.container{
    width: 700px;
    margin-top: 50px;


    border: 4px solid #1E90FF;
}

#myCanvas{
    margin-left: 137px;
    border: 4px solid #1E90FF;
}
.rules{
    color:#1E90FF;
    margin-left: -19px;
    position:absolute;
    width:160px;
    height:300px;
    border: 4px solid #1E90FF;
}
.rules p{
    font-size: 14px;
}
.rules h3{
    margin-left: 5px;
}
.But1{
    display:inline-block;
    text-align: center;
    width: 45px;
    height: 20px;
    font-size: 14px;
    color: white;
    margin-left: 5px;
    background: #1E90FF;
}
.points{
    position:absolute;
    margin-left: 521px;
    top:54px;
    width:160px;
    height:384px;
    background:white;
    border: 4px solid #1E90FF;
    color:#1E90FF;
}
.points div {
    font-size: 22px;
    margin-left: 5px;
}
.points h3{
    margin-left: 30px;
}
.graphics{
    margin-top: -8px;
    margin-left: -19px;
    height: 160px;
    width: 700px;
    border: 4px solid #1E90FF;
}
.graphics div{

    display: inline-block;
    border: 1px solid #1E90FF;
    width: 231px;
    height:159px;
}
.buttons{
    border: 4px solid #1E90FF;
    position: absolute;
    width:160px;
    height:250px;
    margin-left: -19px;
    margin-top: 300px;
}

.buttons .but{
    margin-top: 30px;
    margin-left: 30px;
    color:white;
    border: 4px solid #1E90FF;
    background: #1E90FF;
}
#ToPower{
    margin-left: -1px;
}
#ToSpeed,#ToScore{
    margin-left: -4px;
}
#SNF{
    margin-left: -4px;
    margin-top: 384px;
    position:absolute;
}

#Pause{
    display: none;
    position: absolute;
    margin-left: 280px;
    margin-top:-10px;
    color:white;
    font-size: 32px;
    border: 4px solid #1E90FF;
    background: #1E90FF;
}
.TextForClassic{
    position: absolute;
    border: 4px solid #1E90FF;
    background: #1E90FF;
    color:white;
    margin-left: 200px;
    margin-top: 200px;
}
#forClose{
    visibility: hidden;
}
.TextForClassic .but{
    color:white;
    border: 4px solid white;
    background: #1E90FF;
}


.containerforLanding{
    background-color: #1E90FF;
    height: 500px;
    text-align: center;
    display: block;
    margin-top: 50px;
}


.title{
    padding-top: 100px;
    font-size: 142px;
    color: #355188;

}

.title1{
    padding-top: 100px;
    font-size: 100px;
    color: #366F96;
    margin-bottom: 40px;
}
.intro{
    font-size: 40px;
}
.toGame{
    background-color: #0f0f0f;
    color: #EBEBEB;
    font-size: 40px;
    border: 4px solid #0f0f0f;
    border-radius: 8px;
}
.toGame:hover{
    background-color: #12203B;
    color: #EBEBEB;
    text-decoration: none;
}
.section{
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    width: 750px;
}
.section .intro{
    font-size: 24px;
}
.section p{
    font-size: 18px;
}
.image{
    margin-top:40px;
    margin-bottom: 40px;
    width: 549px;
    height: 209px;
    background: url(img/figures.jpg);
}
#Rules,#Tech{
    background-color: #133433;
}

.hotkey{
    width: 250px;
    height: 50px;
    text-align: center;


}
.text{
    width: 450px;
    height: 50px;
    color: #9EAEAD;
    font-size: 18px;
}
.info div{
    display: inline-block;
}
.info{
    margin-top: 40px;

}
.section ul{
    margin-left: 100px;
    font-size: 32px;

}
#Tech ul{
    color:#9EAEAD;
    margin-top: 40px;
}
.section img{
    width: 650px;
}

#Footer{
    background-color: #152828;
    height: 40px;
    font-size: 24px;
    text-align: center;
    color:#9EAEAD;
}

.section img{
    margin-top: 40px;
}
